body {
    margin: 0;
}

.graph-box {
    width: 100%;       /* Oder z.B. 500px */
    height: 400px;     /* WICHTIG: Eine feste Höhe angeben! */
    background: #f0f0f0; /* Testweise, um zu sehen wo der Container ist */
    margin-bottom: 20px;
}

canvas {
    pointer-events: auto;
}