// Declare own Colors
$primary: #d1d1d1; 
$secondary: #989898;
$body-bg: #181919;
$border-radius: 0.75rem;

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Create normal css
.body {
    background-color: $body-bg;
    padding: 0;
    margin: 0;
}
.graph-box {
    height: 300px;
    min-height: 300px;
    width: 500px;
    min-width: 300px;
}

