// Declare own Colors
// $primary: #d1d1d1; 
// $secondary: #3b3a36;
$body-bg: #13171b;
// $border-radius: 0.75rem;

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Create normal css#

.body {
    background-color: $body-bg !important;
    padding: 0;
    margin: 0;
}
.graph-box {
    height: 300px;
    min-height: 300px;
    width: 500px;
    min-width: 300px;
}

// Content Stylings
#content {
    padding: 5rem;
}

// == Section: Fragestellung == \\
.lead {
    ol {
        display: inline-block;       
        text-align: left;            
        list-style-position: inside; 
        padding: 0;
        
        li {
            margin-bottom: 1rem;
            padding-left: 0.5rem; 
        }
    }
}